<div class="container container-content">
    <!-- Button trigger modal -->
  <button type="button" class="btn-add" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Add +
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header" id="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">INTEREST</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!--- Modal Body -->
        <div class="modal-body" id="modal-body">
          <select class="form-select" id="loanid" aria-label="Default select example">
            <option selected>Loan ID</option>
             <option value="1">One</option>
            <option value="2">Two</option>
             <option value="3">Three</option>
             </select>
  
           <div class="row g-2">
            <div class="col-auto">
              <label for="exampleFormControlInput1" class="form-label" id="interest">Interest</label>
              <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="0%"> 
          </div>
          <div class="row g-3">
            <div class="col-auto">
                <label for="21" class="form-label" id="rebate">Rebate</label>
                <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Enter Rebate here.."> 
            </div>
          </div>
           </div>
        </div>
        <div class="modal-footer" id="modal-footer">
          <button type="button" class="btn-submit">Submit</button>
        </div>
      </div>   
    </div>
  </div>
  
  
  <!---- Searchbar ----->
  <div class="search-container" id="searchbar">
    <form>
      <input type="text" placeholder="Search.." name="search" id="searchInput">
      <button type="submit" class="btn-search"><i class="bi bi-search-heart"></i></button>
    </form>
  </div>
  
  <!------ Table ------>
  <div class="scrollable-table">
  <table id="table">
    <thead>
      <tr class="header">
        <th scope="g-col-6">ID</th>
        <th scope="g-col-6">Loan ID</th>
        <th scope="g-col-6">Interest</th>
        <th scope="g-col-6">Rebate</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="ID">1</td>
        <td data-label="Loan ID">2014536</td>
        <td data-label="Interest">10%</td>
        <td data-label="Rebate">20,000</td>
      </tr>
      <tr>
        <td data-label="ID">1</td>
        <td data-label="Loan ID">2014536</td>
        <td data-label="Interest">10%</td>
        <td data-label="Rebate">20,000</td>
      </tr>
      <tr>
        <td data-label="ID">1</td>
        <td data-label="Loan ID">2014536</td>
        <td data-label="Interest">10%</td>
        <td data-label="Rebate">20,000</td>
      </tr>
    </tbody>
  </table>
  </div>
  
  </div>
  
  
  