<ul class="navbar-nav sidebar sidebar-dark accordion" id="color-change-5x">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class='bx bxl-spring-boot' style='color:#11dc2c'></i>
        </div>
        <div class="sidebar-brand-text mx-3" id="brandtext-sidebar">SB Admin <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-1">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span id="sp-0">Dashboard</span></a>
    </li>

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!---Employee---->
    <li class="nav-item">
        <a class="nav-link" href="/employee">
            <i class='bx bxs-user-account'></i>
            <span id="sp-0">Employee</span></a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class='bx bx-hive'></i>
            <span id="sp-0">Coop</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#color-change-5x">
            <div class="py-2 collapse-inner rounded" id="boxshadow-sidebar">
                <a class="collapse-item" href="/loan">Loan</a>
                <a class="collapse-item" href="/payments">Payments</a>
                <a class="collapse-item" href="/interests">Interests</a>
                <a class="collapse-item" href="/deposit">Deposit</a>
                <a class="collapse-item" href="/member">Member Records</a>
            </div>
        </div>
    </li>


    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>